h2 {
    font-variant: small-caps;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    line-height: 100%;
    color: burlywood;
    background-color: aqua;
}

p.name {
    color: lightcoral;
    text-align: center;
background-color: aquamarine;
    width: 170px;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 4px;
    border: 2px;
    border-radius: 150%;
    margin: auto;
    align-items: center;
    margin-bottom: 4%;
    margin-top: 4%;
    transition-property: width, height, border-radius, color, background-color, transform, opacity, box-shadow, font-family;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 3px 2px 1px #d39e93;
}

p.name:hover {

    color: #000;
    background: color #ea6a47;
    ;
    text-align: center;
    width: 200px;
    height: 67px;
    border: 2px;
    border-radius: 5px;
    transform: rotate(360deg);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -6px 6px 2px -1px #d39e93;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition-duration: .5s;
}
